<form>
  <button class="button" [routerLink]="['/home']">Back to home</button>
  <div class="container">
    <h1>Register</h1>
    <hr>

    <label for="username"><b>User Name</b></label>
    <input type="text" placeholder="Enter username" name="username" id="username" [(ngModel)]="user.username" required>

    <label for="gender"><b>Gender</b></label>
    <input type="text" placeholder="Enter gender" name="gender" id="gender" [(ngModel)]="user.gender" required>

    <label for="phone_number"><b>Phone Number</b></label>
    <input type="text" placeholder="Enter Phone Number" name="phone_number" [(ngModel)]="user.phone_number" id="phone_number" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" [(ngModel)]="user.email" required>

    <hr>

    <button type="submit" class="registerbtn" (click)="save()">Register</button>
  </div>
  
  
</form>